.container-forget{
    background-color:#fff2d8 ;
      padding: 0px 100px;
     display: flex;
     align-items: center;
      height: 100vh;
      position: relative;
  }


  
.forget-left{
  width: 400px;
  } 
  
  
  .forget-side-img{
    position: absolute;
    right: -55px;
    bottom: 0px;
    width: 50%;
  
  }
  
  
  .forget-title{
    color: #9a2526
  }
  
  .forget-subTitle{
    font-size: 24px;
    color: black;
  }
  
  
  .forget-input-warrper {
    position: relative;
  }
  
  .forget-input-warrper input[type="text"] {
    padding-left: 35px !important;
  }
  
  .forget-input-warrper input[type="text"] .login-input-style:hover {
    border-color: none !important;
    border-bottom-color: #9e9e9e !important;
    background-color: transparent;
  }
  
  .forget-input-warrper input[type="tel"] {
    padding-left: 5px !important;
  }
  
  
  .forget-input-style {
    background: none !important;
    border-bottom: 1px solid #9e9e9e !important;
    border: none;
  
  }
  
  .forget-input-style:hover {
    background: none;
  border: none;
  }
  
  .forget-input-style:active {
    background: none;
  border: none !important;
  }
  
  .forget-input-style:focus {
    background: none;
  border: none !important;
  }
  
  :where(.css-dev-only-do-not-override-3mqfnx).ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input{
    border-bottom:1px solid #ff4d4f !important;
  }
  
  .ant-form-item .ant-form-item-label>label {
    font-size: 16px !important;
    font-weight: 600;
  }
   
  :where(.css-dev-only-do-not-override-amq5gd).ant-btn.ant-btn-lg{
    padding: 6.428571428571429px 30px;
      border-radius: 2px;
  }
  
  
  
  @media(max-width:1040px){
  
    
   .container-forget{
      padding: 0px 50px;
      display: flex;
      align-items: center !important;
      height: 100vh !important;
      justify-content: center;
  }
  
  .forget-outer{
    display: none;
  }
  }
  
  
  @media(max-width:500px){
    .container-forget{
      padding: 0px 20px;
  }
  
  
  .forget-title{
  font-size: 35px;
  }
  
  }